
@model IEnumerable<myapp.Entities.EmployeeList>
@{
}
<div>
   display user details
</div>
<div >
  <a asp-controller="Home" asp-action="EmployeeDetails"> Add New</a>
</div>
<table>
    <thead>
        <tr>
            <th>
                Employee_Name
                </th>
                 <th>
                Age
                </th>
                 <th>
                Salary
                </th>
                 <th>
                Designation
                </th>
            </tr>
        </thead>
        <tbody>
 @foreach(var prod in Model)
    {
          <tr>
            <td>
                @prod.Name;
                </td>
                <td>
                    @prod.Age;
                    </td>
                      <td>
                    @prod.Salary;
                    </td>
                      <td>
                    @prod.Designation;
                    </td>
            </tr>
    }
    <button>ADD EMPLOYE</button>
    </tbody>
        </table>